MYSQL_ROOT_PASSWORD=your_password
MYSQL_DATABASE=parking_lot

DB_HOST=mysql
DB_PORT=3306
DB_NAME=parking_lot
DB_USER=root
DB_PASSWORD=your_password

REDIS_PASSWORD=your_password
REDIS_NODE1_HOST=redis-1
REDIS_NODE2_HOST=redis-2
REDIS_NODE3_HOST=redis-3
REDIS_PORT=6379

DOMAIN_NAME=huan20.io.vn
GATEWAY_PORT=8090

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
